body {
  background-color: #C9B2C5;
}
#img {
  background-size: 100%;
  position: relative;
  left: 350px;
  width: 1000px;
  height: 800px;
  z-index: -3;
}

#cover {
  z-index: 5;
}
#play, #pause, #prev, #next {
  position: relative;
  bottom: 250px;
  right: 210px;
  z-index: 3;
}
